src/main/mule/cicd-test-api.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="Listener-config" basePath="test">
        <http:listener-connection port="8081" host="0.0.0.0"></http:listener-connection>
    </http:listener-config>
    <flow name="cicd-deploy">
        <http:listener doc:id="musrdl" doc:name="Listener" path="" config-ref="Listener-config"></http:listener>
        <set-payload doc:id="homuom" doc:name="Set payload" value='#["It works fine now"]'></set-payload>
        <logger doc:id="gdejkt" doc:name="Logger" message="#[payload]"></logger>
    </flow>
</mule>
